/* @font-face {
    font-family: 'rawline';
    src: url('./rawline-300.woff2') format('woff2'),
         url('./rawline-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
} */

@font-face {
    font-family: 'rawline';
    src: url('https://www.tickx.co.uk/assets/default/css/fonts/rawline/rawline-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'rawline';
    src: url('https://www.tickx.co.uk/assets/default/css/fonts/rawline/rawline-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'rawline';
    src: url('https://www.tickx.co.uk/assets/default/css/fonts/rawline/rawline-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

